---
import WaveForm from "./WaveForm.astro";
---

<main
  class="border-t border-slate-200 lg:relative lg:mb-28 lg:ml-96 lg:border-t-0 xl:ml-112"
>
  <WaveForm class="absolute top-0 left-0 h-20 w-full" />
  <slot />
</main>
