---
import TagsSVG from "@/images/tags.svg";
---

<div class="flex flex-col gap-y-2">
  <div class="flex items-center gap-x-1.5">
    <TagsSVG class="size-4 text-primary-base" />
    <slot name="tag-title" />
  </div>
  <slot name="tag-list" />
</div>
